{% load wagtailcore_tags wagtailimages_tags%}

{% for item in items %}
	<div class="{{ class }} card__blog">
        <a href="{% pageurl item %}">
          <div class="caption">
            {% if item.feed_image %}
                {% image item.feed_image fill-360x200 class="img-responsive" %}
            {% endif %}
            <h4>{{ item.title }}</h4>
            <p class="text-left text-muted">{{ item.date|date:"j M Y" }}</p>
            <p class="text-justify">{{ item.intro }}</p>
          </div>
        </a>
    </div>
{% endfor %}