{% load wagtailcore_tags wagtailimages_tags %}

{% for block in body %}
    {% if block.block_type == 'paragraph' %}

        <div class="content_width text">
            {{ block.value|richtext }}
        </div>

    {% elif block.block_type == 'image' %}

        <div class="content_width">
            {{ block }}
        </div>

    {% elif block.block_type == 'quote' %}

        <div class="content_width -breakout-medium">
            {{ block }}
        </div>

    {% elif block.block_type == 'embed' %}

        <div class="content_width">
            {{ block.value|safe }}
        </div>

    {% endif %}
{% endfor %}