{% load core_tags %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-7">

        {% sponsors_menu %}

        <p class="footer-brand">
          Developed with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="http://jordijoan.me" target="_blank">@jordi</a>
        </p>

      </div>
      <div class="col-md-5">
        <div class="footer-banner">

          {% footer_menu name='Table Tennis Wellington Business Class' %}

        </div>
      </div>
    </div>
  </div>
</footer>