{% load core_tags %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        {% sponsors_menu %}

        <p class="footer-brand">
          Developed with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="http://jordijoan.me" target="_blank">@jordij</a>
        </p>

      </div>
      <div class="col-md-6">
        <div class="footer-banner">
          <div class="row">
            <div class="col-xs-8">
              {% footer_menu name='Table Tennis Wellington Business Class' %}
            </div>
            <div class="col-xs-4">
              <h3 class="footer-title">Contact</h3>
              <ul>
                  <li><a href="emailto:setve@comp.co.nc">setve@comp.co.nc</a></li>
                  <li>Table Tennis Wellington Inc.
                      <address>P O Box 12038
                      Thorndon, Wellington 6144</address></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>