{% load core_tags %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        {% sponsors_menu %}

        <p class="footer-brand">
          Developed with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="https://jordi.nz" target="_blank">@jordi_nz</a>
        </p>

      </div>
      <div class="col-md-6">
        <div class="footer-banner">
          <div class="row">
            <div class="col-sm-8">
              {% footer_menu name='Wellington Business Class' %}
            </div>
            <div class="col-sm-4">
              <h3 class="footer-title">Contact</h3>
              <ul>
                  <li><a href="mailto:steve@sproutmedia.co.nz"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Email us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
