{% load wagtailcore_tags static %}

        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" href="/"><img src="{% static 'images/logobctt.png' %}"></span>
                
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="hidden-xs nav navbar-nav navbar-left">
                <li>
                <a href="/">BUSINESS CLASS</a>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% for link in links %}
                        <li class="{% if link.is_active %}active {% endif %}"><a href="{{ link.url }}">{{ link.title|upper }}</a></li>
                    {% endfor %}
                </ul>
                <!--<form class="navbar-form navbar-right" method="get" action="{% url 'wagtailsearch_search' %}" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="q"{% if query_string %} value="{{ query_string }}"{% endif %} class="form-control" type="search" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="submit" class="btn"><span class="fui-search"></span></button>
                            </span>
                        </div>
                    </div>
                </form>-->
            </div>
            </div>
        </nav>
