{% load static wagtailcore_tags wagtailimages_tags core_tags %}
<div class="outter-wrapper header-area header-style-5">
    <div class="wrapper clearfix logo-container with-menu">

        <!-- Start Mobile Menu Icon -->
        <div id="mobile-header" class="">
            <a id="responsive-menu-button" href="#sidr-main">
                <em class="fa fa-bars"></em> Menu
            </a>
        </div>
        
        <header>
            <div id="navigation" class="clearfix">

                <ul class="menuHideBtn">
                    <li><a id="closebtn" class="fa" href="#"></a></li>
                </ul>
                
                    
                <div class="main-header-left left adjust-left">
                    <a class="logo" href="#">
                        <img src="{% static 'images/logo-white.png' %}" alt="Scene">
                    </a>
                </div>
                
                
                <div class="main-header-right right adjust-right">
                    <nav class="megamenu_container">
                    <ul id="nav" class="right megamenu">
                        <li class="nav-parent"><a href="#">Home Pages</a>
                            <ul>
                                <li><a href="#">Home 1 - Ken Burns Slider</a></li>
                                <li><a href="#">Home 2 - Full Screen Slider</a></li>
                                <li><a href="#">Home 3 - Video Header</a></li>
                                <li><a href="#">Home 4 - Boxed Slider</a></li>
                                 
                            </ul>   
                        </li>
                        <li class="nav-parent">
                            <a href="#">Feature Pages</a>
                            <ul>
                                <li><a href="#">Standard Pages &nbsp; <em class="fa"></em></a>
                                    <ul>
                                        <li><a href="#">Standard Feature</a></li>
                                        <li><a href="#">Full Feature</a></li>
                                        <li><a href="#">Parallax Feature</a></li>
                                        <li><a href="#">No Feature Page</a></li>
                                        <li><a href="#">Full Content</a></li>
                                         
                                    </ul>
                                </li>
                                
                                <li><a href="#">Our Galleries &nbsp; <em class="fa"></em></a>
                                    <ul>
                                        <li><a href="#">Isotope Gallery</a></li>
                                        <li><a href="#">Slider Gallery</a></li>
                                        <li><a href="#">Singles Gallery</a></li>
                                        <li><a href="#">Masonry Gallery</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Team Page</a></li>
                                <li><a href="#">Member Page</a></li>
                                <li><a href="#">Events Calendar</a></li>
                                <li><a href="#">Single Event</a></li>
                                <li><a href="#">TimeTable</a></li>            
                            </ul>
                        </li>
                        
                        
                        <li><a href="#" class="megamenu_drop">Mega Menu <em class="fa"></em></a><!-- Begin Mega Item -->
                        <div class="dropdown_fullwidth"><!-- Begin Item Container -->
                            
                            <div class="clearfix">
                                <div class="col-2-3 clearfix">
                                    <h3 class="mega-title">Featured post</h3>
                                    <a class="col-1-2" href="#"><img src="{% static 'images/fill-8.jpg' %}" alt="Mock"></a>
                                    <h6 class="title"><a href="http://make-lemonade.co/themes/sport/skin1/post.html">Nominated club of the year</a></h6>
                                    <p>Sed posuere consectetur est at lobortis. 
Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id 
elit non mi porta gravida at eget metus. Nullam id dolor id nibh 
ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare 
sem lacinia quam venenatis
                                    …<a href="#" class="read-more">More</a></p>
                                </div>
                                
                                <div class="col-1-3 last">
                                    <h3 class="mega-title">Quick Links</h3>
                                    <ul class="list-2 widget-list">
                                        <li><a href="#">Home Page</a></li>
                                        <li><a href="">Events Calendar</a></li>
                                        <li><a href="">Our Team</a></li>
                                        <li><a href="">Join Our Club</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div><!-- End Item Container -->
                        </li><!-- End Mega Item -->
                                    
                                    
                                    
                        <li class="nav-parent">
                            <a href="#">Header Variations</a>
                            <ul>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/header-1.html">Header Layout 1</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/header-2.html">Header Layout 2</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/header-3.html">Header Layout 3</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/header-4.html">Header Layout 4</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/header-5.html">Header Layout 5</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/header-1-logotext.html">Logo as text option</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/header-sticky.html">Sticky Header</a></li>
                            </ul>   
                        </li>
                        <li class="nav-parent">
                            <a href="#">Blog Options</a>
                            <ul>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/blog-rsb.html">Blog Right Sidebar</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/blog-lsb.html">Blog Left Sidebar</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/blog.html">Blog Full Width</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/blog-rlsb.html">Blog Double Sidebars</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/blog-double.html">Blog Two Columns</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/blog-double-rsb.html">Blog Two Columns Sidebar</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/post.html">Single Post</a></li>
                                <li><a href="http://make-lemonade.co/themes/sport/skin1/author.html">Author Page</a></li>
                            </ul>       
                        </li>
                    </ul>
                    </nav>
                </div>

            </div>
        </header>
    </div>
</div>     