{% load compress static wagtailuserbar wagtailcore_tags wagtailimages_tags core_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% elif self.intro %}{{ self.intro }}{% elif self.body_excerpt %}{{ self.body_excerpt|truncatewords:40 }}{% else %}{{ self.title }}{% endif %}" />


        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/icons/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/icons/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/icons/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/icons/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icons/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/icons/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/icons/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/icons/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/icons/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/icons/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/icons/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- open graph -->
        <meta property="og:url" content="{{ BASE_URL }}{% if self %}{% pageurl self %}{% endif %}" />
        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% elif self.intro %}{{ self.intro }}{% elif self.body_excerpt %}{{ self.body_excerpt|truncatewords:40 }}{% else %}{{ self.title }}{% endif %}" />
        {% block og_images %}
            {% if self.og_image and self.og_image.image %}
                {% image self.og_image.image width-400 as tmp_og_image %}
                <meta property="og:image" content="{{ BASE_URL }}{{ tmp_og_image.url }}" />
                <meta property="og:image:width" content="{{ tmp_og_image.width }}">
                <meta property="og:image:height" content="{{ tmp_og_image.height }}">
                <meta property="og:image:type" content="image/{{ self.og_image.type }}">
            {% else %}
                <meta property="og:image" content="{{ BASE_URL }}{% static 'images/og-white-logo.png' %}">
                <meta property="og:image:type" content="image/png">
                <meta property="og:image:width" content="400">
                <meta property="og:image:height" content="400">
                <meta property="og:image:type" content="image/png">
            {% endif %}
        {% endblock %}
        <!-- end:open graph -->

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}">
        <link href="{% static 'flat-ui/dist/css/flat-ui.css' %}" rel="stylesheet">
        {% endcompress %}

        {% block extra_css %}{% endblock %}

        {% if GOOGLE_ANALYTICS_KEY %}
            <!-- Google Analytics -->
            <!-- End Google Analytics -->
        {% endif %}
    </head>
    <body class="{% block body_class %}{% endblock %}">

        {% if GOOGLE_TAG_MANAGER %}
            <!-- Google Tag Manager -->
            <!-- End Google Tag Manager -->
        {% endif %}

        {% block menu %}
            {% menu name='Top' current_page=self %}
        {% endblock %}

        {% block heading %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% include "business/includes/footer.html" only %}
        {% endblock %}

        {% compress js %}
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"/>
        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"/>
        {% endcompress %}

        {% block extra_js %}
        {% endblock %}
    </body>
</html>
