{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block heading %}
    {% include "business/includes/jumbotron.html" with title=self.title subtitle=self.subtitle only %}
{% endblock %}


{% block content %}

<div class="container margin-bottom">

    {% if request.GET.tag|length %}
        <h4>Showing posts tagged as {{ request.GET.tag|safe }} <a href=" {% pageurl self %} ">Show all</a></h4>
    {% endif %}

    <div class="row">
        <div class="col-sm-8">
            {% for blog in blogs %}
                {% include "business/includes/blog_list_item.html" %}
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% empty %}
                No blogs found
            {% endfor %}

            {% if blogs and blogs.paginator.num_pages > 1 %}

                <nav class="text-center">
                    <ul class="pager">
                        {% if blogs.has_previous %}
                        <li class="previous"><a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><span aria-hidden="true">&larr;</span> Newer</a></li>
                        {% endif %}
                        {% if blogs.has_next %}
                        <li class="next"><a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Older <span aria-hidden="true">&rarr;</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
                
            {% endif %}
        </div>
        <div class="col-sm-3 col-sm-offset-1">
        {% comment %}
            TODO: TAGS
        {% endcomment %}
        </div>
    </div>

</div>

{% endblock %}