{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block heading %}
  {% include "business/includes/jumbotron.html" with title=self.title subtitle=self.subtitle only %}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="pull-right">
          {% for tag in self.tags.all %}
            <a href="{% pageurl self.blog_index %}?tag={{ tag }}"
               class="btn btn-primary btn-xs">
              <i class="glyphicon glyphicon-tag"></i> {{ tag }}
            </a>
          {% endfor %}
        </div>

    
        <article>
            {% include "business/includes/body.html" with body=self.body only %}
        </article>

        {% include "business/includes/related_links.html" with related_links=self.related_links.all only %}
    </div>
{% endblock %}

