{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block heading %}
    <div class="jumbotron">
        <div class="container page-container">

        <h1>{{ self.title }}</h1>

        {{ self.body|richtext }}

        </div>
    </div>
{% endblock %}

{% block content %}
    
    {% if self.related_teams.all %}

        <div class="container">
            <!-- Submenu -->
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="#teams">Teams</a></li>
                        <li  role="presentation"><a href="#results">Results</a></li>
                        <li role="presentation"><a href="#stats">Classification and stats</a></li>
                    </ul>
                    <hr/>
                </div>
            </div>

            <!-- Teams -->
            <div class="row" id="teams">

                {% for group, groups in self.get_grouped_teams.items %}
                  
                    <div class="col-md-12">      

                        <div class="panel panel-default">
                            <div class="panel-heading">Group {{ group }}</div>
                            
                            <div class="panel-body">

                            <div class="row">

                                {% for team in groups %}

                                    <div class="col-sm-2 text-center">
                                        <a href="{% routablepageurl self 'teams' %}#{{ team.team.name|slugify }}" role="button">

                                            {% if team.team.image%}
                                                {% image team.team.image fill-75x75 class="img-circle" %}
                                            {% else %}
                                                <img width="75" height="75" src="{% static 'images/placeholder.png' %}" class="img-circle">
                                            {% endif %}
                                        </a>
                                        <h6 class="">{{ team.team.name }}</h6>
                                    </div>

                                     {% if forloop.counter|divisibleby:6 %}
                    
                                        </div>
                                        
                                        <div class="row">
                                        
                                        {% endif %}

                                {% endfor %}

                            </div>
                            
                            </div>
                        
                        </div>

                    </div>

                    {% if forloop.counter|divisibleby:2 %}
                    
                    </div>
                    
                    <div class="row">
                    
                    {% endif %}

                {% endfor %}

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <a href="#teams" class="pull-right btn btn-primary">Back to top</a>
                </div>
            </div>

        </div>
            
    {% endif %}


       
    {% if self.related_results.all %}
        
        <div class="inversed-container spacer-top  spacer-bottom">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12">
                        <h5>Calendar</h5>
                    </div>
                </div>

                <div class="row" id="results">

                    {% for result, results in self.get_grouped_results.items %}
                      
                        <div class="col-md-6">      
                            
                            <h6>{{ results.0.date|date:"j M Y" }}</h6>

                            <table class="table table-striped">
                                <thead>
                                    <td></td>
                                    <td class="hidden-xs">Team A</td>
                                    <td></td>
                                    <td class="hidden-xs">Team B</td>
                                    <td>Total</td>
                                </thead>
                                {% for team in results %}
                                <tr>
                                    <td>{% if team.team_one.image %}{% image team.team_one.image fill-50x50 class="img-circle" %}{% else %}<img class="img-circle" src="{% static 'images/placeholder.png' %}" width="50" height="50"> {% endif %}</td>
                                    <td class="hidden-xs">{{ team.team_one.name }}{% if team.team_one_games > team.team_two_games %}&nbsp;<span class="label label-success">Winner</span>{% endif %}</td>
                                    <td>{% if team.team_two.image %}{% image team.team_two.image fill-50x50 class="img-circle" %}{% else %}<img class="img-circle" src="{% static 'images/placeholder.png' %}" width="50" height="50"> {% endif %}</td>
                                    <td class="hidden-xs">{{ team.team_two.name }}{% if team.team_one_games < team.team_two_games %}&nbsp;<span class="label label-success">Winner</span>{% endif %}</td>
                                    <td><strong>{{ team.team_one_games }}-{{ team.team_two_games }}</strong></td>
                                </tr>
                                {% endfor %}
                            </table>

                        </div>

                        {% if forloop.counter|divisibleby:2 %}
                        
                        </div>
                        
                        <div class="row">
                        
                        {% endif %}

                    {% endfor %}

                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <a href="#teams" class="pull-right btn btn-primary">Back to top</a>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}


    {% if self.related_results.all %}
        <div class="container spacer-top spacer-bottom">

            <div class="row">
                <div class="col-xs-12">
                    <h4>Classification and stats</h4>
                </div>
            </div>
                
            <div class="row" id="stats">

                {% include "business/includes/classification_table.html" with items=self.get_stats.items class="col-md-6" simple=False only %}

            </div>

             <div class="row">
                <div class="col-xs-12">
                    <a href="#teams" class="pull-right btn btn-primary">Back to top</a>
                </div>
            </div>


        </div>

    {% endif %}

{% endblock %}