{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static wagtailroutablepage_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block heading %}
        {% include "business/includes/carousel.html" with carousel_items=self.carousel_items.all only %}
{% endblock %}


{% block content %}
    
    <!-- Comp info headline -->
    {% if current_comp %}
        <div class="container spacer-top">
            <div class="row">
                <div class="col-md-12">
                    <h4>{{ current_comp.title|upper }} UPDATES</h4>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h6>{{ current_comp.get_next_results_by_date.0.date|date:"j M Y" }}</h6>

                        <table class="table table-striped">
                            <thead>
                            </thead>
                            {% for team in current_comp.get_next_results_by_date %}
                                <tr>
                                    <td>{% if team.team_one.image %}{% image team.team_one.image fill-50x50 class="img-circle" %}{% else %}<img class="img-circle" src="{% static 'images/placeholder.png' %}" width="50" height="50"> {% endif %}</td>
                                    <td class="hidden-xs">{{ team.team_one.name }}</td>
                                    <td>vs</td>
                                    <td>{% if team.team_two.image %}{% image team.team_two.image fill-50x50 class="img-circle" %}{% else %}<img class="img-circle" src="{% static 'images/placeholder.png' %}" width="50" height="50"> {% endif %}</td>
                                    <td class="hidden-xs">{{ team.team_two.name }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            {% if current_comp.winner %}
                                {% include "business/includes/finals_table.html" with items=current_comp.get_finals_stats.items class="col-md-6" simple=True only %}
                            {% else %}
                            {% include "business/includes/classification_table.html" with items=current_comp.get_stats.items class="col-md-6" simple=True only %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <a href="{% pageurl current_comp %}" class="pull-right btn btn-primary">See competition details</a>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}

    <!-- Blog headline -->
    <div class="inversed-container spacer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>NEWS</h4>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Blog thumbnails -->
    <div class="inversed-container ">
        <div class="container spacer-bottom">
    	    <div class="row">
    	    	{% include "business/includes/blog_thumbnails.html" with request=request items=self.blogs class="col-lg-4" only %}
    	    </div>
	   </div>
    </div>

{% endblock %}
