{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block heading %}
    {% include "business/includes/jumbotron.html" with title=self.title subtitle=self.subtitle only %}
{% endblock %}

{% block content %}

    <div class="container margin-bottom">
        <div class="row">
            <div class="col-sm-8">
                
                {% include "business/includes/body.html" with body=self.body only %}

            </div>

            <div class="col-sm-4">
                
            </div>
        </div>
    </div>

{% endblock %}
