{% extends "base.html" %}
{% load wagtailcore_tags i18n widget_tweaks %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="container">
        
        <div class="jumbotron">
            <h1>{{ self.title }}</h1>

            <div class="intro">
                {{ self.body|richtext }}
            </div>
        </div>
        
        <form class="form-horizontal" role="form" action="." method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="form-group has-error">
                        <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-6">
                            {{ field|attr:"class:form-control" }}
                            <span class="help-block">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-6">
                            {{ field|attr:"class:form-control" }}
                            {% if field.help_text %}
                                <p class="help-block"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}